@import '../../pages/home/Home.module.scss';
.secao {
    @include grid(0, 4, 1fr, 2rem);
    .cartao__conteudo {
        @include borda;
        @include grid(1, 1fr, auto, 0.2);
        .camisa__tamanhos {
            @include camisa__tamanhos;
            .opcoes__tamanhos {
                @include borda;
                @include camisa__tamanhos;
            }
        }
    }
}

.cartao__info {
    @include grid(0, 1fr, auto, 8px);
    .cartao__titulo {
        font-size: 2rem;
        font-weight: 700;
        grid-column: span 2;
        color: #000;
    }
    .cartao__preco {
        color: #95999c;
        font-size: 2rem;
        grid-column: span 2;
    }
}

.espaco__botao {
    display: grid;
    padding: 0.2rem;
    grid-column: 1 span;
    .botao {
        display: grid;
        grid-template-columns: 1fr auto;
        border: none;
        cursor: pointer;
        background-color: $cor-primaria;
        color: #fff;
        font-size: 1.5rem;
    }
}