//fontes
$fonte-principal: "Inter",
sans-serif;
//tamanhos da fonte
$font-tituloCabecalho:5rem;
$font-subTituloCabacalho: 1.5rem;
$tamanho-texto-navegacao: 5rem;
//cores
$cor-primaria:rgba(0, 0, 0, 0.87);
$cor-secundario:#fff;